{% extends "website/baseHome.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="title">The theme is fully responsive and easy to customize</h3>
                    <p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br/> designed for describing your app, agency or business.</p>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="features-box">
                        <i class="fa fa-diamond"></i>
                        <h4>Responsive Layouts</h4>
                        <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="features-box">
                        <i class="fa fa-bicycle"></i>
                        <h4>Bootstrap UI based</h4>
                        <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="features-box">
                        <i class="fa fa-signal"></i>
                        <h4>Creative Design</h4>
                        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
        </section>
        <!-- end Features -->

        <!-- Features Alt -->
        <section class="section p-t-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="feat-description m-t-20">
                            <h4>Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.</h4>
                            <p class="text-muted">Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application. </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <img src="{% static 'frontend/images/mac_1.png' %}" alt="img" class="img-responsive m-t-20">
                    </div>
                </div><!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end features alt -->
        <!-- Features Alt -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'frontend/images/mac_2.png' %}" alt="img" class="img-responsive m-t-20">
                     </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="feat-description">
                            <h4>Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.</h4>
                            <p class="text-muted">Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application. </p>
                        </div>
                    </div>
                </div><!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end features alt -->
        <!-- Features Alt -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="feat-description">
                            <h4>Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.</h4>
                            <p class="text-muted">Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application. </p>
                       </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <img src="{% static 'frontend/images/mac_3.png' %}" alt="img" class="img-responsive m-t-20">
                    </div>
                </div><!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end features alt -->
{% endblock %}
